<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link">Home</a>
      <a
        mat-list-item
        routerLink="/transaction-history"
        routerLinkActive="active-link"
        >Transaction History</a
      >
      <a mat-list-item routerLink="/accounts" routerLinkActive="active-link"
        >Accounts</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
